<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/01b3ba53-3c40-448f-8cf8-0bcc2c2797b9/resourceGroups/APIcasamentomn/providers/Microsoft.Web/sites/APIcasamentomn</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apicasamentomn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>f7ba31b3-3573-4bd9-957e-603f1460b512</ProjectGuid>
    <PublishUrl>https://apicasamentomn.scm.azurewebsites.net/</PublishUrl>
    <UserName>$APIcasamentomn</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>